# the node thing
/node_modules

# own configuration files
config.toml
.env
userdb.json
secretdb.json

# ========================
# temp captcha files, not in use for right now
/websites
config.json
create.js
output.html
.gitignore

.env
config.toml
secretdb.json
userdb.json

/assets/captcha

# to avoid including certs to git
*.pem
*.crt

placeholder-dev/
mayharm.toml
